@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('//db.onlinewebfonts.com/c/bb25f84423b9515a1d475d02d2de6462?family=Bell+MT');
.font{
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt";
}

.font1{
    padding: 0;
    box-sizing: border-box;
    font-family: "Bell MT Semi Bold";
    font-size:  50px;
    font-style: italic;
}

a:link{
    text-decoration: none;
    color: #385285;
}

a:hover {
    color: red; ;
}

.header {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 125px; 
}

body, html {
    height: 100%;
    margin: 0;
}
.bg {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s1{
    margin-top: 0px;
    margin-left: 20px;
    color: #002060;
    display:inline-block
}

.s2 {
    margin-left: 50px;
    color: #002060;
    display:inline-block;
}

.button{
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 8px; 
}

.box1{
  position: absolute;
  left : 1350px;
  right : 10px;
  top : 30px;
  width: fit-content;
  height: 200px;
}

.button1 {
  margin-right: 20px;
  background-color: #002060;
  color: white;
}

.button1:hover {
  opacity: 0.8;
}

.button2{
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px; 
    background-color: #002060;
    color: white;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    color: #002060
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.container {
    padding: 26px;
}
  
span.signin {
    float: right;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
  
.modal-content {
    background-color: #d6dce5;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #002060;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.signin {
       display: block;
       float: none;
    }
}

