{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'img/air5.png' %}"> 
    <link rel="stylesheet" href="{% static 'css/flight.css' %}">  
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block script %}
    {% endblock %} 
<body>
    <div class="bg" style="background-image: url('{% static 'img/air5.png' %}')"></div>
    <div class="header">
        <div class="s1"><h1 class="font1">SKYAIRs</h1></div>
        <div class="s2 font"><h3><a href="/flight/searching">เที่ยวบิน</a></h3></div>
        <div class="s2 font"><h3><a href="/flight/orders">คำสั่งซื้อ</a></h3></div>
        {% if request.user.is_staff %}
        <div class="s2 font"><h3><a href="/admin/">Admin Page</a></h3></div>
        {% endif %}
        <div class="box1">
            <button class ="button button1 font" style="width:150px;"><h2>Hello {{ user.username }}</h2></button>
            <button class ="button button1_1 font" onclick="document.getElementById('id02').style.display='block'" style="width:150px;" action="logout" method="POST"><h3><a href="/" class="button1_1">Logout</a></h3></button>
        </div>
    </div>
    {% block sub_menu %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>
