{% extends 'base.html' %}
{% load static %}

{% block title %}SKYAIRs{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

    <form action="{% url 'search' %}" method="post"> {% csrf_token %}
    <div class="box"> 
    <div class="tab-wrap font" >
    <input type="radio" id="tab1" name="TripType" value="1" class="tab" checked>
    <label for="tab1">เที่ยวเดียว</label>
    <input type="radio" id="tab2" name="TripType" value="2" class="tab">
    <label for="tab2">ไป-กลับ</label>
    <div class="tab__content">
        <div class="b1"> 
            <div class="s3"><h3 class = "font2">สนามบินต้นทาง</h3>
                <label class="dropdown">
                    <select name="origin">
                        <option>เลือกสนามบินต้นทาง</option>
                        <option value="bkk">ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option value="cnx">ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option value="hkt">ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option value="kkc">ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option value="kbv">ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
            <div class="s4"><h3 class = "font2">สนามบินปลายทาง</h3>
                <label class="dropdown">
                    <select name="destination">
                        <option>เลือกสนามบินปลายทาง</option>
                        <option value="bkk">ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option value="cnx">ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option value="hkt">ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option value="kkc">ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option value="kbv">ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="b2">
            <div class="s5"><h3 class = "font2">วันออกเดินทาง</h3></div>
            <input type="date" name="depart_date1" style="
            position: absolute;
            top: 45px;
            left: 10px;
            width: 83%;
            padding: 6px;
            font-size: 14px;
            text-align: center;">
        </div> 
        <div class="b2_1"> 
            <div class="s6"><h3 class = "font2">วันเดินทางกลับ</h3></div> 
            <input type="date" name="return_date" style="
            position: absolute;
            top: 45px;
            left: 10px;
            width: 83%;
            padding: 6px;
            font-size: 14px;
            text-align: center;" disabled>
            
        </div>
        <div class="b3"> 
            <div class="s8"><h3 class = "font2">ชั้นโดยสาร</h3>
                <label class="dropdown1">
                    <select name="seatclass">
                        <option>เลือกประเภทชั้นโดยสาร</option>
                        <option value="economy">Economy class</option>
                        <option value="first">First class</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="b3_3">
            <input type="submit" class ="button button2 font" value="ค้นหาเที่ยวบิน">
        </div>
    </div>  
    <div class="tab__content">
        <div class="b1"> 
            <div class="s3"><h3 class = "font2">สนามบินต้นทาง</h3>
                <label class="dropdown">
                    <select name="origin2">
                        <option>เลือกสนามบินต้นทาง</option>
                        <option value="bkk">ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option value="cnx">ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option value="hkt">ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option value="kkc">ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option value="kbv">ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
            <div class="s4"><h3 class = "font2">สนามบินปลายทาง</h3>
                <label class="dropdown">
                    <select name="destination2">
                        <option>เลือกสนามบินปลายทาง</option>
                        <option value="bkk">ท่าอากาศยานสุวรรณภูมิ(กรุงเทพมหานคร)</option>
                        <option value="cnx">ท่าอากาศยานนานาชาติเชียงใหม่(เชียงใหม่)</option>
                        <option value="hkt">ท่าอากาศยานภูเก็ต(เมืองภูเก็ต)</option>
                        <option value="kkc">ท่าอากาศยานขอนแก่น(ขอนแก่น)</option>
                        <option value="kbv">ท่าอากาศยานนานาชาติกระบี่(เมืองกระบี่)</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="b2">
            <div class="s5"><h3 class = "font2">วันออกเดินทาง</h3></div>
            <input type="date" name="depart_date2" style="
            position: absolute;
            top: 45px;
            left: 10px;
            width: 83%;
            padding: 6px;
            font-size: 14px;
            text-align: center;">
        </div> 
        <div class="b2_2"> 
            <div class="s6"><h3 class = "font2">วันเดินทางกลับ</h3></div>
            <input type="date" name="return_date" style="
            position: absolute;
            top: 45px;
            left: 10px;
            width: 83%;
            padding: 6px;
            font-size: 14px;
            text-align: center;">
        </div>
            
        <div class="b3"> 
            <div class="s8"><h3 class = "font2">ชั้นโดยสาร</h3>
                <label class="dropdown1">
                    <select name="seatclass2">
                        <option>เลือกประเภทชั้นโดยสาร</option>
                        <option value="economy">Economy class</option>
                        <option value="first">First class</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="b3_3">
            <input type="submit" class ="button button2 font" value="ค้นหาเที่ยวบิน">
        </div>
    </div> 
    </div> 
    </div>
</form>
{% endblock %}