<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your order</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'new_search' %}">เที่ยวบิน</a></li>
        <li><a href="{% url 'order' %}">คำสั่งซื้อ</a></li>
      </ul>
    hello order<br>
    {{user.username}}<br>
    {% for data in schedule %}
        {{data.ref_no}}<br>
        {{data.flight_id}}<br>
        {{data.flight_departdate}}<br>
        {% if data.status == "Confirmed" %}
            <div style="color: green;">{{data.status}}</div><br>
        {% elif data.status == "Pending" %}
            <div style="color: orange;">{{data.status}}</div><br>
        {% else %}
            <div style="color: red;">{{data.status}}</div><br>
        {% endif %}

        <form action="{% url 'cancel' %}" method="POST"> {% csrf_token %}
            <input type="hidden" name="ref_cancel" value="{{data.ref_no}}">
            <input type="submit" value="Cancel">
        </form>
    {% endfor %}<br>
</body>
</html>