<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'new_search' %}">เที่ยวบิน</a></li>
        <li><a href="{% url 'order' %}">คำสั่งซื้อ</a></li>
      </ul>
    <form action="{% url 'get_confirm' %}" method="POST"> {% csrf_token %}
        <center>
            Payment Method: Credit Card/Debit Card <br>
            <div style="background-color: darkblue; color: gainsboro; width: 400;">
                Name: <input style="margin-left: auto;" type="text" name="card_name"><br>
                Card Number: <input style="margin-left: auto;" type="text" name="card_number"><br>
                Expiration(mm/yy): <input type="text" name="expire" style="width: 200; margin-left: auto;">
                Security Code: <input type="text" name="secureCode" style="width: 200; margin-left: auto;">
            </div>
        </center>
        
        
        {% if trip_type == "1" %}
            <input type="hidden" name="ref_no" value="{{schedule.ref_no}}">
        {% elif trip_type == "2" %}
            <input type="hidden" name="ref_no1" value="{{despart_book.ref_no}}">
            <input type="hidden" name="ref_no2" value="{{return_book.ref_no}}">
        {% endif %}
        <input type="hidden" name="trip_type" value="{{trip_type}}">
        <input type="submit" name="status" value="Confirm">
    </form>
</body>
</html>