{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block script %}
    <script src="{% static 'js/review.js' %}"></script>
    {% endblock %}
    <title>Review booking</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="{% url 'new_search' %}">เที่ยวบิน</a></li>
        <li><a href="{% url 'order' %}">คำสั่งซื้อ</a></li>
        <li>{{user.username}}</li>
      </ul>
    <form action="{% url 'payment' %}" method="POST"> {% csrf_token %}
        <!--One way-->
        {% if trip_type == "1" %}
            <div>
                <h2>Ticket Details:</h2>
                Trip Type: One-Way<br>
                Flight Number: {{ticket_review.fnumber}}<br>
                Origin: {{ticket_review.origin.city|capfirst}}<br>
                Destination: {{ticket_review.destination.city_thai}}<br>
                Depart Date: {{ticket_review.depart_date}}<br>
                Depart Time: {{ticket_review.depart_time}}<br>
                Arrival Time: {{ticket_review.arrival_time}}<br>
                Fare: {{ticket_review.fare}} Bath<br>
                Seat Class: {{ticket_review.seat_class|capfirst}}
                <input type="hidden" name="onewayTicket" value="{{ticket_review.fid}}">
                <input type="hidden" name="trip_type" value="1">
            </div>
            <p>รวมราคา: {{ticket_review.fare}}</p>
            <input type="hidden" name="total_fareOneway" value="{{ticket_review.fare}}">
        <!--Round trip-->
        {% else %}
            <div>
                <h2>Ticket Details:</h2>
                <div style="background-color: dodgerblue; width: 800px;">
                <p>คุณได้เลือกขาไป</p>
                <h3>From: {{ticket1.origin.city_thai}} To: {{ticket1.destination.city_thai}}</h3>
                    Flight number: {{ticket1.fnumber}}<br>
                    Airline: {{ticket1.airline}}<br>
                    Depart Date: {{ticket1.depart_date}} , Depart time: {{ticket1.depart_time}} <br>
                    Arrival time: {{ticket1.arrival_time}}<br>
                    Fare: {{ticket1.fare}} Bath<br>
                    Seat Class: {{ticket1.seat_class|capfirst}}
                    <input type="hidden" name="GoTicket" value="{{ticket1.fid}}">
                </div>
                <div style="background-color: indianred; width: 800px;">
                    <p>คุณได้เลือกขากลับ</p>
                    <h3>From: {{ticket2.origin.city_thai}} To: {{ticket2.destination.city_thai}}</h3>
                        Flight number: {{ticket2.fnumber}}<br>
                        Airline: {{ticket2.airline}}<br>
                        Depart Date: {{ticket2.depart_date}} , Depart time: {{ticket2.depart_time}} <br>
                        Arrival time: {{ticket2.arrival_time}}<br>
                        Fare: {{ticket2.fare}} Bath<br>
                        Seat Class: {{ticket2.seat_class|capfirst}}
                        <input type="hidden" name="ReturnTicket" value="{{ticket2.fid}}">
                    </div>
            </div>
                <p>รวมราคา: {{total_fare}}</p>
                <input type="hidden" name="trip_type" value="2">
                <input type="hidden" name="total_fareRoundtrip" value="{{total_fare}}">
        {% endif %}
        
        <div>
            <p>Contact Information</p>
            <input type="text" name="email_contact" placeholder="Email"><br>
            <input type="text" name="phone_contact" placeholder="Phone"><br><br>

            <p>Passenger</p>
                <input type="hidden" name='user' value="{{user.username}}">
                First Name: <input type="text" name=fname placeholder="First Name">
                Last Name: <input type="text" name=lname placeholder="Last Name">
                Gender:
                <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        <input name="confirm" type="submit" value="Add">
    </form>   
</body>
</html>